*{
  box-sizing: border-box;
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  padding: 0;
}

body {
  font-weight: 100;
  background-color: black;
}
.container {
  width: 370px;
  height: 560px;
  background: url("./img/background.png") no-repeat center center;

}

.nav {
  box-sizing: border-box;
  background-color: rgb(28, 28, 28);
  border-bottom: 2px solid rgb(70, 70, 69);
  text-align: center;
  height: 55px; 
  width: 100%;
  padding: 10px 10px;
  color: white;
}


#header-title {
  left:126px;
  font-size: 19px;
  line-height: 35px; 
  font-weight: 350;
  position: absolute;
}

.hotelContainer {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
  color: white;
  
}

#btn {
  float: left;
}

#btn>button {
  color: white;
  border-radius: 4px;
  border-color: rgb(47, 47, 47);
  background: linear-gradient(rgb(44, 44, 44), rgb(5, 5, 5));
  font-size: 14px;
  
  padding: 6px 11px;
  
  
}




#logo {
  float: right;
  padding-top: 3px;
}

#hotelExterior {
  margin-top: 25px;
  width: 100%;

  border: solid white 5px;
  box-sizing: border-box;
  margin-bottom: 12px;
}
.intro {
  margin-bottom: 17px;
  line-height: 1.4;
  font-size: 14px;
}
#title {
  font-size: 19;
  padding: 2px 0px;
  font-weight: 350;
}

a {
  color: white;
  text-decoration-color: rgb(129, 144, 158);
}

.info {
  width: 100%;
  padding: 12px 15px;
  background: linear-gradient(white, rgb(193, 206, 219));
  font-weight: 500;
}


#address {
  color:lightblue;
}
#phoneNum {
  font-size: 12px;
}

/* setting for buttons */
.description {
  float: left;
}
.info-container>button{
  border-bottom-width:0px;
}
.first {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.right {
  float: right;
  color: black;
  font-weight: 700;
}



