body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
padding:20px 20px;
}

.clearFloat:after{
  display:block;
  content:'.';
  clear:both;
  visibility:hidden;
  }

.room>div{
  margin-right: 10px;
  float:left;
  width:154px;
  height:100px;
  border:1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: lightgray;
}

.select{
z-index: 5;
background-color: white;
float:left;
padding-right: 10px;
padding-bottom: 10px;
height:100%;
}

.inner{
  padding-left: 10px;
}
button{
  display: block;
}

